/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Header Styles */
  header {
    background-image: url("images/strand.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

  }


   nav { 
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-bottom: 2rem;
    position: absolute;
    top: 0;
    width: 100%; 
    padding: 20px 7%; 
    
  }



  nav img{ 
    height: 60px;


  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #000000;
  } 
  
  .hero {
    margin-top: 50px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 8rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: bold;
  }
  
  
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0062cc;
  } 
  
  /* Destinations Styles */
  .destinations {
    padding: 50px 115px;
    background-color: #fff;
  }
  
  .destinations h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .card {
    flex-basis: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5% ;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5% ;
    border-top-right-radius: 5% ;
    text-align: center;
       
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin: 20px;
  }
  
  .card p {
    font-size: 1.2rem;
    margin: 20px;
  }
  
  /* About Us Styles */
  .about-us {
    text-align: center;
    padding: 80px 12%;
    background-color: #f9f9f9;
  }
  
  .about-us h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .about-us p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  /* New office Styles */
  .neue-Büro {
    text-align: center;
    padding: 80px 12%;
    background-color: #f9f9f9;
  }
  
  .neue-Büro h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .neue-Büro p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .contact {
    
    background-color: #ffffff;
    padding: 50px 20px;
  }
  
  .contact h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  header {
    background-image: url("images/strand3.png");
    background-size: cover;
    background-position: center;
    color: #fdfcfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

  }




 


/* Stile für das Dropdown-Menü */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    background-color: #111; 
}

.city {
  background-image: url("images/cityheader.png");
    background-size: cover;
    background-position: center;
    color: #292a2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

}
 
.regio {
  background-image: url("images/regionalheader.png");
    background-size: cover;
    background-position: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

}
.event {
  background-image: url("images/eventheader.png");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

}
.city-tour {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.containercity {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.winter {
  background-image: url("images/winterheader.png");
    background-size: cover;
    background-position: center;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

}
.social {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
}

.social h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  display: inline-block;
  margin: 0 20px;
  font-size: 2rem;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #007bff;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #e4405f;
}

.fa-whatsapp {
  color: #25d366;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-item {
  flex-basis: 25%;
  margin-bottom: 40px;
}

.footer-item h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-item p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-item li {
  margin-bottom: 10px;
}

.footer-item a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-item a:hover {
  color: #007bff;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.8rem;
  margin: 0;
}
.text-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.text {
  flex-basis: 50%;
}

.text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

.image {
  flex-basis: 40%;
}

.image img {
  width: 100%;
}

p{
  font-family: 'Times New Roman', Times, serif;
}


.citytitle2{
  color: #ffffff;
}